<% content_for :title, "New todo list" %>

<div><% content_for :title, "New todo list" %>

<h1>New todo list</h1>

<%= form_for @todo_list do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  
    <%= f.submit "Create Todo List" %>
  </div>
<% end %>

<br>

</div>
  <%= link_to "Back to todo lists", todo_lists_path %>
</div>
