<p style="color: green"><%= notice %></p>

<%= render @todo_list %>

<div>
  <p>
    <strong>Title:</strong>
    <%= @todo_list.title %>
  </p>

  <% @items.each do |item| %>
    
    <% if item.conclued == true %>
      
      <strike> <p> <%= item.title %> </p> </strike>
      <%= form_for item do |f| %>
        <%= f.check_box :conclued, :value => item.conclued %>
        <%= f.submit "Undo" %>
      <% end %>
    <% elsif item.conclued == false %>
      <p> <%= item.title %> </p>
      <%= form_for item do |f| %>
        <%= f.check_box :conclued, :value => item.conclued %>
        <%= f.submit "Conclued" %>
      <% end %>
    <% end %>
  <% end %>

  <%= form_for @item do |f| %>

    <p><%= f.text_field :title %></p>

    <%= f.hidden_field :todo_list_id, :value => @todo_list.id %>
    <%= f.hidden_field :conclued, :value => false %>

    <%= f.submit "Add Item" %>
  <% end %>

  <%= link_to "Edit this todo list", edit_todo_list_path(@todo_list) %> |
  <%= link_to "Back to todo lists", todo_lists_path %>

  <%= button_to "Destroy this todo list", @todo_list, method: :delete %>
</div>
